<?xml version="1.0"?>
<!-- Launch file that starts the testing nodes -->
<launch>
	<arg name="cpu_mode" default="false"/>

	<!-- Start the fasterRCNN node, add the cpu arg if the user is in cpu mode -->
	<node if="$(arg cpu_mode)" name="fasterRCNN" pkg="ros_faster_rcnn" type="simpleDetect.py" args="--cpu"/>
	<node unless="$(arg cpu_mode)" name="fasterRCNN" pkg="ros_faster_rcnn" type="simpleDetect.py" />
</launch>
